@import 'reset';
@import 'hero';

$font-stack: 'Lato', Helvetica, Arial, sans;
$text-col-dark: #eeeeee;
$text-col-light: #333333;
$txt-header: 7em;
$txt-subheader: 3em;
$txt-menu: 2em;
$background: #ffffff;

* {
    font-family: $font-stack;
    box-sizing: border-box;
}

html {
    text-rendering: optimizeLegibility;
}

body {
    text-align: center !important;
    background-color: $background;
}

section {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // line-height: 5em;

    h1 {
        font-size: $txt-header;
        font-weight: bold;
    }
    h2 {
        font-size: $txt-subheader;
        font-weight: 300;
    }
    p {
        font-size: $txt-menu;
        font-weight: 400;
        line-height: 1.5em;
        max-width: 75%;
    }
}

nav {
    position: fixed;
    top: 2%;
    min-width: 15%;
    max-width: 100%;;
    right: 5%;
    list-style: none;
    z-index: 100;

    ul {
        position: relative;
        display: flex;
        padding: 3px;
        li {
            padding: 25px;
            flex: 1 1 auto;

            a {
                font-size: 1.5em;
                text-decoration: none;
            }
        }
    }
}

#copyright {
    // position: absolute;
    // bottom: 0px;
    z-index: 1;
}
