/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 10px;
  font-family: "Lato", Helvetica, Arial, sans;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hero {
  align-items: space-around;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

* {
  font-family: "Lato", Helvetica, Arial, sans;
  box-sizing: border-box;
}

html {
  text-rendering: optimizeLegibility;
}

body {
  text-align: center !important;
  background-color: #ffffff;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.title {
  margin: auto;
  font-size: 7em;
  font-weight: bold;
}

.subtitle {
  font-size: 3em;
  font-weight: 300;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.columns {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

.section-4 {
  position: absolute;
  right: 1vw;
  bottom: 1vw;
  width: 20%;
}

section {
  margin: auto;
  padding: 5em;
  height: 100vh;
  z-index: 2;
}

nav {
  font-size: 2em;
  position: fixed;
  color: #000;
  z-index: 1;
  right: 40px;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
}
nav li {
  text-align: right;
  padding: 0.6em;
}
nav .active .cd-dot {
  background-color: #ffffff;
}
nav a {
  display: inline-block;
}
nav a span {
  float: right;
  display: inline-block;
  vertical-align: middle;
  transform: scale(0.6);
  transition: 0.5s;
}
nav a:hover span {
  transform: scale(1);
  transition: 0.5s;
}
nav a:hover .cd-label {
  opacity: 0.5;
  transition: opacity 0.6s linear;
}
nav .cd-dot {
  position: relative;
  background-color: #555;
  top: 5px;
  height: 3em;
  width: 3em;
  transform-origin: 50% 50%;
  border-radius: 50%;
  box-shadow: inset 0 0 7px -3px #222;
}
nav .cd-label {
  opacity: 0;
  font-size: 2em;
  position: relative;
  margin-right: 10px;
  padding: 0.4em 0.5em;
  vertical-align: middle;
  color: #333333;
  transform-origin: 100% 50%;
}

p {
  margin: auto;
  font-size: 2em;
  font-weight: 300;
  line-height: 1.5;
  width: 60%;
  text-align: center;
}

/*
%section {
    width: 100%;
    height: 100vh;
    color: $text-col-dark;
    display: flex;

}

.header {
    font-size: 4em;
}

.section-1 {
    @extend %section;

    position: relative;
    background-image:linear-gradient(to bottom right, rgba(0, 47, 75, .7), rgba(220, 66, 37, .7)); /*,url("red-forest.jpg");
    background-color:#33333333;
    text-align:center;

    #header {
        filter: drop-shadow(1px 1px 1px black);
        margin:auto;
        line-height: 5em;
    }

/*    h1, p {
        margin: 20px;
    }

    h1 {
        font-size: $txt-header;
        font-weight: bold;
    }

    p {
        font-size: $txt-subheader;
        font-weight: 300;
    }
}

.section-2 {
    @extend %section;
    background-color: #222222;
    display: flex;
    flex-direction: row;

    p {
        position: relative;
        font-size:2.25em;
        margin: auto;

    }

}

.section-3 {
    @extend %section;
    background-color:grey;
    display:block;
}

.section-4 {
    @extend %section;
}

.section-5 {
    @extend %section;
}

.text-left {
    position: relative;
    display:block;
    margin: auto;
}

.text-right {
    display:block;
    position: relative;
    float: right;
    margin: auto;
}

.button {
    position: relative;
    font-size: 2em;

}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

*/

/*# sourceMappingURL=master.css.map */
